body,html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  font-family: 'Lato', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100%;
}

/*.profile-pic {
  z-index: 1000;
  float: right;
}*/

/* HELPER CLASSES*/

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  max-width: 100%;
}

.shader {
  min-width: 100%;
  height: 100vh;
  left: -1px;
  
  position: absolute;
  background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
  z-index: 1;
}


/* HOMEPAGE */

.home-wrapper {
  min-width: 100%;
  height: 100vh;

  background: url("../images/Londate-main-bg.jpeg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile-pic {
  float: right;
}

/* TYPOGRAPHY */

h1 {
  color: #000;
}

.title {
  color: #FFF;
  font-size: 100px;
  letter-spacing: 0.2em;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #FFF;
} 

hr {
  margin: 5px;
}

/* BUTTONS */

button {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;

  font-size: 18px;
  font-weight: 600;

  margin: 5px;
  border-radius: 5px;
  padding: 10px 20px;
}

.facebook { background: #435f9c; }
.twitter  { background: #00aced; }



#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.card img {
  max-width: 350px;
}

/* EVENTS PAGE */

.g-map {
  min-height: 100vh;
}

#searchbox {
  z-index: 10;
  position: absolute;
  padding: 10px;
  right: 30px;
  top: 100px;
  height: 75%;
  width: 20%;
  background-color: rgba(255,255,255,0.9);
}

#searchbox select {
  margin: 10px;
}

.search-heading {
  font-size: 18px;
  font-weight: 800;
}

.eventGoBtn {
  color: #000;
  border: 2px solid gray;
  border-radius: 10px;
  width: 50%;
}

.eventGoBtn:enabled {
  background-color: orange;
}

.saveBtn {
  width: 50%;
  border: 2px solid black;
  padding: 5px;
  color: #000;
}

.saveBtn:hover {
  background-color: orange;
}

.selectOne {
  border: solid red;
}

.selectTwo {
  border: solid blue;
}

.selectThree {
  border: solid yellow;
}