<div class="card-container">

  <div class="card" ng-repeat="event in events.currentUser.events">
      <div class="card-block">
        <h4 class="card-title">{{ event.name }}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ event.venue.address_1 }}</li>
        <li class="list-group-item">{{ event.time.toDate() }}/li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link" src="{{ event.event_url }}">Go</a>
      </div>
    </a>
  </div>

</div>